Skip to content
This repository
Search
Pull requests
Issues
Marketplace
Explore
 @thebookclub
 Sign out
0
0 0 nirantak/dotfiles
 Code  Issues 0  Pull requests 0  Projects 0  Wiki  Insights
dotfiles/.gitignore
fb7c38b  on Jan 8
@nirantak nirantak Redesign after rigorous research
    
38 lines (30 sloc)  397 Bytes
private
.private
.env
.extra
README.html
dotfiles_old/

# Git credential file
.gitconfig

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
*~
*.cache
__pycache__
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Compiled files
*.pyc
*.class

# npm & bower
bower_components
node_modules
npm-debug.log

# IDEs stuff
.vscode
.idea
© 2018 GitHub, Inc.
Terms
Privacy
Security
Status
Help
Contact GitHub
API
Training
Shop
Blog
About
