@font-face {
   font-family: 'Libre Baskerville';
   font-style: normal;
   font-weight: 700;
   src: url('file:///E:/College/Website//fonts/Libre Baskerville/700.ttf') format('truetype');
}
@font-face {
   font-family: 'Libre Baskerville';
   font-style: regular;
   font-weight: 400;
   src: url('file:///E:/College/Website//fonts/Libre Baskerville/regular.ttf') format('truetype');
}
@font-face {
   font-family: 'Libre Baskerville';
   font-style: italic;
   font-weight: 400;
   src: url('file:///E:/College/Website//fonts/Libre Baskerville/italic.ttf') format('truetype');
}
